:root{
    --pink: #fd79a8;
}
*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    
}
.btn-primary{
    background-color: #fd79a8!important;
    color: white!important;
    border: 1px solid #ffffff!important;
    border-radius:20px;
    width:150px;
    padding:10px;
    text-transform: uppercase;
    margin-top:5px;
}
#banner h1{
    font-family: 'Great Vibes', cursive;
    color: rgb(255, 255, 255);
    font-size: 6em;
}
#banner p{
    color: white;
    width:100%;
    font-size: 1.0em;
}
#banner{
    background:linear-gradient(rgba(0,0,0,0.010),#fd79a8),url(/img/cover.jpg);
    background-size: cover;
    background-position:top;
    height:90vh;
}
.logo{
    width:140px;
}
.navbar{
    position: absolute;
    width: 100%;
    z-index: 1;
}
.navbar-toggler{
    border: none;
    color: white;
    font-size: 2em;
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-nav a{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-right: 1em;
}


.navbar-light .navbar-nav .nav-link {
    color:#fff !important;
}
.navbar-light .navbar-nav .nav-link:hover {
    color:var(--pink) !important;
}
.navbar-toggler-icon{
    display: none;
}
.navbar-toggler .bx{
    color: white;
    font-size: 1.5em;
}
.navbar-header{
    display: none;
}
#about {
    scroll-behavior: smooth;
    margin-top:-30px;
    padding: 0 0 0 0;

}
#about img {
    max-width: 100%;
    margin-bottom: 20px;
}

#about h2, #about h4 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

#about p {
    margin-bottom: 20px;
    text-align: center;
}

.bg-pink {
    background-color: #FFC0CB;
    padding: 20px 0;
}

.bg-white {
    background-color: #FFFFFF;
    padding: 20px 0;
}

#faq{
    padding-top:20px;
}
.card-body{
    min-height:281px;
    height:100%;
}

.footer-top {
    background-color: #f8f9fa;
}

.footer-bottom {
    background-color: #f8f9fa;
}

.footer-top h5 {
    margin-bottom: 20px;
}

.footer-top ul {
    list-style-type: none;
    padding: 0;
}

.footer-top ul li a {
    color: #000;
    text-decoration: none;
}

.footer-top ul li a:hover {
    color: #777;
}
.center{
    text-align: center;
}

.social-icons a {
    color: #000;
    margin: 0 10px;
}

.social-icons a:hover {
    color: #777;
}
#footer-cccards{
    width: 150px;
    height: 50px;
}

@media screen and (max-width: 992px){
    
    .navbar-light .navbar-nav .nav-link {
        color:#000000c7 !important;
    }
    #sidebarh1{
        font-size:2em;
        color:white;
        margin:0;
        padding:0;
        font-family:'Great Vibes', sans-serif;
    }
    .navbar-collapse{
        position: fixed;
        top: 0;
        right: -100%;
        width: 50%;
        height: 100%;
        padding: 0!important;
        background: white;
        transition: right 0.3s ease-in-out;
    }
    .navbar-collapse.show{
        right: 0;
    }
    .ml-auto{
        padding:1em;
    }
    .navbar-nav a{
        color: black;
        font-size: 1.5em;
        margin-bottom: 1em;
    }
    .navbar-nav a:hover{
        color: var(--pink);
    }
    .navbar-header{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2em;
        height:20vh;
        background-color:#fd79a8;
        margin:0;
        padding:5px;
    }
    .navbar-header .bx{
        color: black;
        font-size: 1.5em;
        cursor: pointer;
    }
    .navbar-header .bx:hover{
        color: var(--pink);
    }
    .navbar-overlay{
        z-index: 1;
        position:fixed;
        top:0;
        left:0;
        width:50%;
        height:100%;
        background:rgba(0,0,0,0.5);
        display:none;
        
    }
    .hide{
        display:none;
    }
}

/* Hide icons on desktop */
@media screen and (min-width: 992px) {
    .navbar-nav i {
      display: none; 
    }
    .flex-md-row-reverse {
        flex-direction: row-reverse;
    }
  }
  
  /* Show icons on mobile */ 
  @media screen and (max-width: 992px) {
    .navbar-nav i {
      display: inline-block;
    }
  }
